<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <h1><%= title %></h1>
        <p><%= __('Bienvenido a ') %><%= title %><%= __(', el lugar donde vender trastos que no quieres y comprar cosas inservibles.') %> </p>
        <br>
        <nav>
            <a href="/login">Login</a>
			<% getLocales().forEach(locale =>{ %>
				<a href='/change-locale/<%= locale %>'><%= locale %></a>
			<% }) %>
        </nav>
    </header>
<% if (resultado === {delete: true}) {%>
	<p>Anuncio borrado correctamente</p>
<% } else { %>
	<table class="styled-table">
		<thead>
			<td><b><%= __('Venta / Compra') %></b></td>
			<td style="text-align: left;"><b><%= __('Nombre') %></b></td>
			<td><b><%= __('Precio') %></b</td>
			<td><b><%= __('Etiquetas') %></b</td>
			<td><b><%= __('Foto') %></b</td>
		</thead>
		<tbody>
	<% resultado.forEach(anuncio => { %>
			<tr style="text-align: center">
	<% if(anuncio.venta === true) { %>
				<td><%= __('Vendo') %></td>
	<% } else { %>
				<td><%= __('Compro') %></td>
	<% } %>
				<td style="text-align: left"><%= anuncio.nombre %></td>
				<td><%= anuncio.precio %> €</td>
				<td><%= anuncio.tags %></td>
				<td><img src="/images/<%=anuncio.foto%>" alt=""></td>
			</tr>
	<% }); %>		
		</tbody>
	</table>
<% } %>
	<footer>
		<p>Cristian Copyright 2023</p>
	</footer>
  </body>
</html>
