<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <br>
        <nav>
            <a href="/login">Login</a>
        </nav>
    </header>
<% if (resultado === {delete: true}) {%>
	<p>Anuncio borrado correctamente</p>
<% } else { %>
	<table class="styled-table">
		<thead>
			<td><b>Venta / compra</b></td>
			<td style="text-align: left;"><b>Nombre</b></td>
			<td><b>Precio</b</td>
			<td><b>Tags</b</td>
			<td><b>Foto</b</td>
		</thead>
		<tbody>
	<% resultado.forEach(anuncio => { %>
			<tr style="text-align: center">
	<% if(anuncio.venta === true) { %>
				<td>Vendo</td>
	<% } else { %>
				<td>Compro</td>
	<% } %>
				<td style="text-align: left"><%= anuncio.nombre %></td>
				<td><%= anuncio.precio %> €</td>
				<td><%= anuncio.tags %></td>
				<td><img src="/images/<%=anuncio.foto%>" alt=""></td>
			</tr>
	<% }); %>		
		</tbody>
	</table>
<% } %>
	<footer>
		<p>Cristi Copyright 2023</p>
	</footer>
  </body>
</html>
